article {
  background-color: #414141;
  border-radius: 8px;
  display: inline-block;
  margin: 0 0 1.5em;
  width: 100%;
}

article h1 {
  color: #a0ffd3;
  font-size: 30px;
  margin: 20px 30px;
  word-wrap: break-word;
}

article p {
  font-size: 20px;
  margin: 20px 30px;
  word-wrap: break-word;
}