form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 300px;
  background-color: #222222;
  padding: 15px;
  border-radius: 6px;
}

form input {
  width: 90%;
  height: 35px;
  font-size: 22px;
  padding-left: 10px;
  border: none;
  border-radius: 3px;
  background-color: #545454;
  color: white;
}

form button {
  width: 150px;
  height: 35px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 217, 92);
}

::placeholder {
  color: white;
}