main {
  background-color: rgb(34, 34, 34);
  border-radius: 15px;
  column-count: 3;
  column-gap: 2em;
  margin-bottom: 50px;
  margin-top: 25px;
  padding: 30px;
  width: 90%;
  -moz-box-shadow:    inset 0 0 4px #0c0c0c;
  -webkit-box-shadow: inset 0 0 4px #121212;
  box-shadow:         inset 0 0 4px #0e0e0e;
}